html
	head
		title Catapult Slack Bot - #{title}
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css')
		style(type='text/css').
			body{margin-top: 20px;}
			.alert{padding: 10px; border: 1px solid green; border-radius: 2px; color: green;}
			.error{color: red;}
	body
		.pure-g
			.pure-u-1-3
			.pure-u-1-3
				block content
			.pure-u-1-3
